<html>
<form action="" enctype="multipart/form-data" method="post">
    Judul Buku:
    <input type="text" name="judul"><br><br>
    ISBN:
    <input type="text" name="isbn"><br><br>
    Pengarang:
    <input type="text" name="pengarang"><br><br>
    Penerbit:
    <input type="text" name="penerbit"><br><br>
    Tahun Terbit:
    <input type="text" name="tahun"><br><br>
    Jumlah_halaman:
    <input type="text" name="halaman"><br><br>
    Foto cover:
    <input type="file" name="cover"><br><br>
    Kategori:
    <input name="kategori"><br>
    Sinopsis: <br>
<!--    <input type="text" name="sinopsis"><br><br>-->
    <textarea name="sinopsis" rows="20" cols="30"></textarea><br>
    Jumlah Copy:
    <input type="text" name="jumlahcopy"><br><br>
    File ebook:
    <input type="file" name="filebuku" ><br><br>
    <input type="submit" value="Submit">
</form>
</html>